
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #000000;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#canvasMatrix {
  width: 100%;
  height: 100%;
}
